@media screen and (max-device-width: 480px){

  body{
    padding: 0;
    margin: 0;
  }
  .InputBox{
    top: 80%;
  }
  .Slide2 p{
    width: 250px;
    font-size: 16px;
  }
  .Slide2 .Description1{
    padding-bottom: 50px;
    margin-top: 350px;
    font-size: 14px;
  }
}
