body{
  padding: 0;
  margin: 0;
  font-family: AppleSDGothicNeo-Regular;

}
a{
  text-decoration: none;
}
.Container{
  height: 100%;
  width: 100%;
  position: absolute;
}

.RoadBackground{
  height: 45%;
  width: 100%;
  background-image: url('/images/road2.png');
  background-size: cover;
  background-position: 50% 100%;
}
.RoadBackground img{
  width: 75px;
  margin-top: 15px;
  margin-left: 40px;
}
.Title{
  position: absolute;
  margin-top: -100px;
  margin-left: calc(50% - 125px);
  height: 250px;
  width: 250px;
  border-radius: 250px;
  background: #F7BC61;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.20);
  text-align: center;
  color: white;
}
.Title
{
  position: absolute;
}
.Title h1{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 85px;

  font-size: 35px;
}
.Title p{
  position: absolute;
  margin: 0 auto;
  top: 130px;
  width: 200px;
  left: 0;
  right: 0;
  font-size: 14px;

}
#CalhounCollege{
  color:#D7FFFA;
    -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#CalhounCollege:hover{
  color:#b1fff5;
}
.InputBox{
  width: 220px;
  height: 50px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 600px;
}
.InputBox p{
  text-align: center;
  color: rgba(0, 0, 0, 0.43);
}
.Container input{
  border: 0;
  border-bottom: solid 1px rgb(173, 173, 173);
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  width: 220px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.43);
  padding: 0;
  padding-bottom: 10px;
}
.Container input:focus{
  outline: none;
}
.Slide1{
  /*background-color: rgb(242, 150, 56);*/
  height: 100%;
}
.Slide2{
  height: 100%;
}

.Slide2 p{
  position: absolute;
  width: 520px;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 150px;
  text-align: justify;
  line-height: 22px;
}
.Slide2 a:hover{
  text-decoration: underline;
}
